.gallery_main {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

#gallery-container {
  position: absolute;
  top: 185px;
  height: calc(100% - 185px);
  width: 100%;
}

#gallery-wrap {
  position: relative;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: whitesmoke;
}

#photo-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 23%;
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
}

#info-container {
  position: absolute;
  top: 39%;
  right: -11%;
  transform: translate(-50%, -50%);
  z-index: 52;
  height: 75%;
  width: 25%;
  font-family: "Zen Loop", cursive;
}

#countries {
  width: 100%;
  position: relative;
  /* border: 2px solid black; */
  overflow: hidden;
}

.photoOnClickHack {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  cursor: pointer;
  transition: 1.5s;
  overflow: hidden;
  border-radius: 5px;
  /* visibility: hidden; */
  opacity: 1;
  justify-content: space-between;
  gap: 5px;
}

.photo-gallery {
  position: relative;
  flex: 1;
  height: 100%;
  cursor: pointer;
  transition: 1.5s;
  overflow: hidden;
  border-radius: 5px;
  opacity: 1;
  z-index: 10;
}

.photo-gallery:hover .gallery-overlay {
  background: hsl(0, 0%, 0%, 0.25);
}

.photo-gallery:hover .gallery-overlay h1 {
  -webkit-animation: focus-in-expand-fwd 0.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand-fwd 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  visibility: visible;
}

.gallery-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: hsl(0, 0%, 0%, 0.7);
  overflow: hidden;
  border-radius: 5px;
  user-select: none;
  z-index: 10;
}
.gallery-overlay h1 {
  text-align: center;
  /* font-size: 2.5rem; */
  color: rgb(209, 174, 107);
  visibility: hidden;
  font-family: "Zen Loop", cursive;
  font-size: 3rem;
  line-height: 3rem;
  color: #f1ebe5;
  text-shadow: 0 5.36px 3.896px #c4b59d, 0 -2px 1px #fff;
  letter-spacing: -1.5px;
}

#map {
  top: 1%;
  height: 35%;
  width: 100%;
  position: relative;
  /* border: 2px solid black; */
  overflow: hidden;
}

#info-container h1 {
  font-size: 4rem;
  padding-left: 5%;
  text-align: center;
  text-decoration: underline;
}

#quick-facts {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 120px;
}

#quick-facts h3 {
  font-size: 2.5rem;
  padding-right: 5%;
  text-align: left;
  text-decoration: underline;
}

#quick-facts li {
  font-size: 1.5rem;
  padding: 20px 5px;
  font-weight: 600;
  list-style: none;
}

#imgbox {
  position: absolute;
  top: 39%;
  left: 36%;
  transform: translate(-50%, -50%);
  z-index: 22;
  height: 75%;
  width: 71%;
}

.gallery-img-container {
  position: relative;
  flex: 1;
  height: 100%;
  cursor: pointer;
  transition: 1.5s;
  overflow: hidden;
  border-radius: 5px;
}

#gallery-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  user-select: none;
}

.testClass2 {
  flex: 100 !important;
}

.testClass3 {
  flex: 1 !important;
}

.gallery-img-container:hover .gallery-overlay {
  background: hsl(0, 0%, 0%, 0.25);
}
.gallery-img-container:hover img {
  transform: scale(1.03);
}

.gallery-img-container:hover .gallery-overlay h1 {
  -webkit-animation: focus-in-expand-fwd 0.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand-fwd 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  visibility: visible;
}

.gallery-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: hsl(0, 0%, 0%, 0.7);
  overflow: hidden;
  border-radius: 5px;
  user-select: none;
  z-index: 10;
}
.gallery-overlay h1 {
  text-align: center;
  /* font-size: 2.5rem; */
  color: rgb(209, 174, 107);
  visibility: hidden;
  font-family: "Zen Loop", cursive;
  font-size: 3rem;
  line-height: 3rem;
  color: #f1ebe5;
  text-shadow: 0 5.36px 3.896px #c4b59d, 0 -2px 1px #fff;
  letter-spacing: -1.5px;
}

.gallery-img-container:nth-child(1) {
  /* background-image: url(../../images/Japan-Gallery.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.focus-in-expand-fwd {
  -webkit-animation: focus-in-expand-fwd 0.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-3 15:38:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand-fwd
 * ----------------------------------------
 */

@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-13 10:46:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
